In [1]:
import pandas as pd
import numpy as np
import time

In [134]:
array_size = 10

e = pd.Series([98.0, np.nan, 99.0, np.nan, 100.0]*array_size)
b = pd.Series([np.nan, np.nan, 4.0, 5.0, 6.0]*array_size)
bf = pd.Series([22.0, 33.0, 44.0, 55.0, 66.0]*array_size)
ss = pd.Series([11.0]*5*array_size)
df = pd.DataFrame({'e': e, 'b': b, 'bf': bf, 'ss': ss})
df.shape

(50, 4)

### Current function

In [138]:
def current_function(e, b, bf, ss):    
    if np.isnan(e) and np.isnan(b):
        return np.nan
    elif np.isnan(e) or np.isnan(b):
        return b if np.isnan(e) else e
    else:
        w = bf / (bf + ss)
        return w * b + (1 - w) * e

    
def f_2(e, b, bf, ss):
    if (e * b) is np.nan:
        return b if (e is np.nan) else (e if (b is np.nan) else np.nan)

    w = bf / (bf + ss)
    return w * b + (1 - w) * e

In [137]:
v_func = np.vectorize(current_function)

%timeit v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)
v = v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)

123 µs ± 504 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [139]:
v_func = np.vectorize(f_2)

%timeit v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)
v = v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)
v

51.1 µs ± 362 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

array([        nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143,
               nan,         nan, 23.        ,         nan, 19.42857143])

In [125]:
def f_4(e, b, bf, ss):
    w_b = bf / (bf + ss) * (b / b)
    w_e = (1 - w_b) * (e / e)
    
    
    w = np.where(np.isnan(e*b), np.nan)
    w = 0 if np.isnan(b) else w
    w = np.nan if np.isnan(e * b) else w

    return w * b + (1 - w) * e

In [126]:
v_func = np.vectorize(f_4)

%timeit v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)
v = v_func(df.e.values, df.b.values, df.bf.values, df.ss.values)

889 µs ± 3.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [128]:
e = np.nan
e is np.nan

True